
@import url(http://fonts.googleapis.com/css?family=Raleway:100);

body.dataTables,
body.jqueryui {
	font: 90%/1.45em "Helvetica Neue", HelveticaNeue, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	color: #333;
	background-color: #fff;
}

body.dataTables div.container,
body.jqueryui div.container {
	max-width: auto;
	margin: 30px;
}

body.dataTables h1,
body.jqueryui h1 {
	font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Raleway', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-weight: 100;
	letter-spacing: 1px;
	font-size: 3em;
	line-height: 1em;
}

h1 span {
	font-size: 0.5em;
	line-height: 1em;
}

tr.shown td.details-control {
	background: url('../images/details_close.png') no-repeat center center;
}

td.details-control {
    background: url('../images/details_open.png') no-repeat center center;
    cursor: pointer;
}

td.editable {
    color: green;
}

div.header {
    background-color: #3c6aa1;
    padding: 30px;
}

.logo {
    float: left;
    margin-left: 10px;
}

.title {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button.inputButton {
		float: left;
		text-align: center;
		display: block;
		cursor: pointer;
		margin: 0 2px 0px 0;
		padding: 6px 0;
		background: #F8F8F8;
		background: -webkit-gradient(linear, center bottom, center top, from(#CCC), to(white));
		background: -moz-linear-gradient(top, white, #CCC);
		background: linear-gradient(top, white, #CCC);
		text-shadow: 0 1px 0 white;
		border: 1px solid #999;
		border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		box-shadow: 0px 0px 2px #999;
		-moz-box-shadow: 0px 0px 2px #999;
		-webkit-box-shadow: 0px 0px 2px #999;
		width: 40px;
}

button.inputButton.selected {
	font-weight: normal;
	background: #02475A;
	background: -webkit-gradient(linear, center bottom, center top, from(#777), to(#333));
	background: -moz-linear-gradient(top, #333, #777);
	background: linear-gradient(top, #333, #777);
	box-shadow: inset 0px 0px 2px #222;
	-moz-box-shadow: inset 0px 0px 2px #222;
	-webkit-box-shadow: inset 0px 0px 2px #222;
	color: white;
	text-shadow: none;
}

div.DTE_Field_Info {
	color: rebeccapurple;
}